* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #FFF;
}

/* ---------- Header ---------- */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px;
    margin: auto;
    background: papayawhip;
}

.error {
    padding-block: 20px;
    text-align: center;

}

.coral {
    color: coral;
}

header .logo {
    font-size: 50px;
    font-weight: 600;
    color: #333;
}

.search-box form {
    background: #fdf8f8;
    border-radius: 30px;
    width: 400px;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 30px;
}

header .search-box input {
    border: 0;
    outline: 0;
    padding: 15px 20px;
    background-color: transparent;
    flex: 1;
}

.search-box button {
    border: 0;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: coral;
    border-radius: 0 30px 30px 0;
    font-weight: 600;
    color: white;
}

/* ---------- Feature Section ---------- */
main {
    position: relative;
}

.feature-section {
    padding-block: 50px;
    padding-inline: 30px;

}

.recipe-section {
    padding-inline: 30px;

}

.feature-section .feature-heading {
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.feature-container {
    display: flex;
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.feature-img img {
    max-width: 270px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in;
}

.feature-img img:hover {
    transform: scale(1.02);
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-block: 30px;
}

.feature-text h2 {
    font-size: 30px;
    color: #444;
    font-weight: 600;
}

.feature-text p {
    font-size: 15px;
    color: #777;
}

.feature-text button,
.recipe-btn {
    border: 0;
    outline: none;
    background-color: coral;
    color: #fff;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.btn-box {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* ---------- Recipe Section ---------- */
.recipe-heading {
    font-size: 40px;
    color: #333;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.recipe-card {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in;
}

.recipe-card:hover {
    transform: scale(1.02);
}

.recipe-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/* modal css */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;

}

.modal-content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 10px;
    max-height: 80vh;
    border-radius: 5px;
    padding-block: 20px;
}

.close-btn {
    position: fixed;
    right: 8px;
    top: 5px;
    border: 0;
    outline: none;
    font-size: 35px;
    rotate: 45deg;
    background: transparent;
    color: #444;
    cursor: pointer;
    transition: all 0.3s ease-in;
    box-shadow: none;

    &:hover {
        color: coral;
    }
}

.modal-content h1 {
    color: coral;
}

.modal-content p {
    margin-bottom: 20px;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {

    width: 50px;
    height: 50px;
    border: 6px solid #fdf8f8;
    border-top: 6px solid coral;
    margin-top: 100px;
    border-radius: 50%;
    animation: spin 1s ease-in infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.hidden {
    display: none;
}

.modal-content span {
    font-weight: 700;
    display: inline-block;
    margin-block: 10px;
}



/* ---------- Media Queries ---------- */

/* Large Desktops */
@media screen and (max-width: 1400px) {
    .recipe-container {
        grid-template-columns: repeat(5, 1fr);
    }
}


/* Desktops & Laptops */
@media screen and (max-width: 1200px) {
    header {
        padding: 40px 20px;
    }

    header .logo {
        font-size: 30px;
    }

    .feature-section,
    .recipe-section {
        padding-block: 30px;
        padding-inline: 10px;
    }

    .recipe-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

/* Tablets */
@media screen and (max-width: 992px) {
    .recipe-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .feature-container {
        flex-direction: column;
        align-items: center;
    }

    .feature-text {
        align-items: center;
    }

    .feature-text p {
        text-align: center;
    }

    .feature-text h2 {
        font-size: 35px;
        font-weight: 500;
    }

    .modal-content {
        width: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* Small Tablets / Large Phones */
@media screen and (max-width: 768px) {
    .recipe-heading {
        font-size: 30px;
    }

    .recipe-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-box form {
        width: 90%;
    }
}

/* Mobile Phones */
@media screen and (max-width: 480px) {
    .recipe-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .header .logo {
        font-size: 28px;
    }

    .modal-content {
        width: 300px;
    }
}